.buy-modal-container {
	display: flex;
	padding-left: calc(3 * var(--space-unit)) !important;
}
.buy-modal-menu-container {
	width: 100%;
	padding-left: calc(3 * var(--space-unit)) !important;
}
.buy-modal-close {
	margin-left: calc(2 * var(--space-unit)) !important;
	height: calc(5 * var(--space-unit)) !important;
	width: calc(5 * var(--space-unit)) !important;
	border-radius: 50% !important;
}
