.buy-menu-item {
	width: 100% !important;
	padding: calc(2 * var(--space-unit)) calc(3 * var(--space-unit)) !important;
	flex-direction: column;
	min-height: calc(7 * var(--space-unit));
}
.buy-menu-item .MuiListItemText-root {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.buy-menu-item-header {
	display: flex;
	width: 100% !important;
}
.buy-menu-item-header-icon {
	min-width: 0 !important;
}
.buy-menu-item-header-label {
	margin-left: var(--space-unit) !important;
	margin-right: var(--space-unit) !important;
}
.buy-menu-item-header-price {
	text-align: right;
}

.buy-menu-item-description {
	width: 100% !important;
	margin-top: var(--space-unit) !important;
}
.buy-menu-item-description span {
	font-weight: lighter;
}
.buy-menu-item-tags {
	width: 100% !important;
	margin-top: calc(2 * var(--space-unit)) !important;
}
.buy-menu-item-tag {
	display: inline-block;
	background-color: rgb(222, 222, 222);
	padding: 0 var(--space-unit);
	border-radius: calc(var(--space-unit) / 2);
	margin: var(--space-unit) var(--space-unit) var(--space-unit) 0 !important;
}

/* mobile */
@media (max-width: 700px) {
	.buy-menu-item {
		min-height: calc(7 * var(--space-unit));
	}
}
