.buy-button-container {
	--button-width: 100px;
}

.buy-modal-close-container {
	padding-left: calc(var(--button-width) - var(--space-unit));
	width: var(--button-width);
}

.buy-button {
	width: var(--button-width);
}
